<footer class="mt-auto py-3 text-center">
  <div class="container">
    <span class="text-white">Developer:
      <a
        href="https://www.cakeresume.com/wei-34d4b5-0c4f93"
        class="text-reset"
        style="text-decoration: underline;"
        target="_blank"
        rel="noopener noreferrer"
      >
        Wei Lin
      </a>
    </span>
  </div>
</footer>