<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-black px-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
          src="/images/ChatChat Logo.png"
          alt="Logo"
          style="max-height: 35px;"
        />
        ChatChat</a>
      {{#if user}}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item d-inline-flex align-items-center">
              <span class="text-white nav-link">Hi, {{user.name}}</span>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white"
                href="/users/current-user"
              >Profile</a>
            </li>
            <li class="nav-item">
              <form action="/logout" method="POST">
                <button
                  class="btn btn-secondary my-sm-0 my-2"
                  type="submit"
                >Logout</button>
              </form>
            </li>
          </ul>
        </div>
      {{else}}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item me-3">
              <form action="/signin" method="POST">
                <button
                  class="btn btn-secondary my-sm-0 my-2"
                  type="submit"
                >Sign In</button>
              </form>
            </li>
            <li class="nav-item">
              <form action="/signup" method="GET">
                <button
                  class="btn btn-secondary my-sm-0 my-2"
                  type="submit"
                >Sign Up</button>
              </form>
            </li>
          </ul>
        </div>
      {{/if}}
    </div>
  </nav>
</header>