<div class="container text-center mt-5">
  <h2 class="text-white">Private Messages Coming Up!</h2>
  <p class="text-white">Hello! It's Wei Lin here. I'm in the process of
    developing a Private Messages feature that will allow you to communicate
    securely and privately. I'm committed to creating a safe space for your
    conversations. Your understanding and patience are greatly appreciated as I
    work to bring this feature to our app. Stay tuned!</p>
</div>